@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
    background: linear-gradient(236.85deg, #041832 27.26%, #3468A7 96.03%);
    font-family: 'Roboto', sans-serif;
}

.container {
    background: #ECF4FF;
    color: #1C1C1C;
    margin: 64px;
    border-radius: 20px;
    box-shadow: 6px 6px 6px #0E1D2F;
    padding: 10px;
}

.header {
    display:flex;
    justify-content: space-between;
    margin: 3%;
    margin-left: 80px;
}

.perfil {
    display: flex;
    
 }

.perfil-foto {
    border-radius: 460px;
    max-height: 160px;
    box-shadow: 4px 0px 4px rgba(0, 0, 0, 0.25);
}

.titulo {
    margin-left: 8px;
}

.titulo h1 {
    font-weight: 700;
    font-size: 36px;
}

.titulo h3 {
    font-weight: 400;
    font-size: 24px;
}

.tema button {
    margin-top: 5px;
    display: flex;
    align-self: flex-end;
    font-weight: 400;
    font-size: 24px;
    padding: 8px 16px;
    background: #ECF4FF;
    border-radius: 100px;  
    border: 2px solid #080808;

}

.main {
    display:flex;
    justify-content: space-between; 
    margin: 5%;   
}

.projetos {
    background: linear-gradient(230.65deg, #499CFE 27.49%, #9CC8FC 83.19%);
    display: flex;
    width: 95%;
    flex-direction: column;
    align-items: center;
    margin-top: 16px;
    padding: 16px;
    box-shadow: 4px 2px 2px rgba(16, 16, 16, 0.42);
    border-radius: 20px;
}

.projetos-title {
    list-style: none;
    font-weight: 700;
    font-size: 48px;
}

.portfolio {
    list-style-type: none;
    font-weight: 400;
    font-size: 36px;
    line-height: 48px;
    margin-bottom: 80px;
}
.portfolio a {
    color: #1C1C1C;
    text-decoration: none;
}

.conquistas {
    background: linear-gradient(230.65deg, #499CFE 27.49%, #9CC8FC 83.19%);
    border-radius: 20px;
    margin: 50px;
    height: 760px;
    box-shadow: 2px 2px 4px 0px #1010106B;
    display: flex;
    flex-direction: column;
    align-items: center; 
    margin-top: 16px;
    margin-bottom: 2px;
    padding: 32px;   
}

.conquistas-title {
    color: #1C1C1C;
    font-weight: 700;
    font-size: 36px;
    
}

.conquistas li {
    list-style-type: none;
}

.conquista-imagem {
    max-height: 120px;
    margin-bottom: 50px ;
}

.dark {
    background: linear-gradient(236.85deg, #375B86 27.26%, #6B87A9 96.03%);
}

.dark .container {
    background: #333439;
    color: #F6F6F6;
}

.dark .projetos-title {
    color: #1C1C1C;

}

.dark .tema button {   
    background: #1C1C1C;
    color: #FFFFFF;
    border: 2px solid #FFFFFF;
    
}